@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Slab:wght@600&display=swap');

body {
    background-color: #00224D;
    font-family: "Cinzel", serif;
}

.titulo {
    color: #FF204E;
    width: 350px;
    height: 5%;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 64px;
}
.subtitulo {
    color: #FF204E;
    font-size: 32px;
    text-align: center;
}
            
#seleccionar-hero {
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjetas, .botones {
    display: flex;

    gap: 10px;
}

.tarjeta-de-narnia {
    box-sizing: border-box;
    width: 218px;
    height: 116px;
    background: rgba(131, 12, 51, 0.948);
    border: 1px solid #A0153E;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    font-weight: 800;
}

.tarjeta-de-narnia img {
    width: 100px;
    height: 100px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #FF204E;
}

label:hover {
    background-color: #FF204E;
}

#button-hero {
    width: 200px;
    height: 70px;
    font-family: "Cinzel", serif;
    font-size: 21px;
    font-weight: 700;
    color: #FF204E;
    padding: 10px;
    border: 5px outset #FF204E;
    margin-top: 30px;
    background-color: transparent;
}

#button-hero:hover {
    color: #ff0033;
    border-color: #ff0033;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center

}

.botones-ataque {
    width: 300px;
    height: 70px;
    font-family: "Cinzel", serif;
    font-size: 21px;
    font-weight: 700;
    color: #FF204E;
    padding: 10px;
    border: 5px outset #FF204E;
    background-color: transparent;
}

.botones-ataque:active {
    color: #4025f4;
    border-color: #4025f4;
}

#resultados {
    background: white;
    width: 420px;
    height: 140px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border: 5px outset #ff204e;
    align-items: center;
    justify-content: center;
}    

#resultado {
    font-size: 27px;
    font-weight: 600;
    color: #00224d;
    margin: 10px;
}

#button-reiniciar {
    border: none;
    width: 220px;
    height: 48px;
    padding: 5px;
    background: none;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #a0153e;
}

.mensajes {
    display: grid;
    grid-template-columns: 200px 200px;
    text-align: center;
    color: #FF204E;
    font-weight: 600;
    gap: 100px;
    font-size: 30px;
}

.ataque-jugador, .ataque-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: outset #ff204e;
}

@media (max-width: 1285px) {

    .tarjetas, .botones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-flow: row wrap;
        justify-content: center;
    }

}